services:
  adguard:
    container_name: adguard
    image: adguard/adguardhome:latest
    hostname: adguard
    networks:
      - applications
    labels:
      - "logaggregation=yes"
      - "traefik.enable=true"
      - "traefik.http.routers.adguard.rule=Host(`adguard.${HOST}`)"
      - "traefik.http.services.adguard.loadbalancer.server.port=3000"
      - "traefik.docker.network=applications"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - adguard_config:/opt/adguardhome/conf
      - adguard_work:/opt/adguardhome/work
    restart: unless-stopped
    healthcheck:
      test: "/bin/netstat -pant | /bin/grep 53"
      interval: 45s
      timeout: 30s
      retries: 3
      start_period: 10s

networks:
  applications:
    external: true

volumes:
  adguard_config:
    name: adguard_config
  adguard_work:
    name: adguard_work
