ports:
  web:
    port: 80
    nodePort: 30000
    redirections: {} 
  websecure:
    port: 443
    nodePort: 30001

api:
  dashboard: true
  insecure: false 

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.t4nello.site`)
    entryPoints:
      - websecure
    middlewares:
      - name: dashboard-auth

extraObjects:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: dashboard-auth-secret
      namespace: management
    type: kubernetes.io/basic-auth
    stringData:
      username: admin
      password: "admin1234"
  - apiVersion: traefik.io/v1alpha1
    kind: Middleware
    metadata:
      name: dashboard-auth
      namespace: management
    spec:
      basicAuth:
        secret: dashboard-auth-secret

ingressClass:
  enabled: true

providers:
  kubernetesIngress:
    enabled: true
  kubernetesGateway:
    enabled: false

tls:
  stores:
    default:
      defaultCertificate:
        secretName: traefik-cloudflare-tls 

logs:
  general:
    level: INFO
  access:
    enabled: true

metrics:
  prometheus:
    enabled: true
