services:
  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    hostname: pihole
    restart: unless-stopped
    networks:
      - applications
    ports:
      - "53:53/tcp" 
      - "53:53/udp"
    environment:
      TZ: "${TZ:-Europe/Warsaw}"
    volumes:
      - pihole_etc:/etc/pihole
      - pihole_dnsmasq:/etc/dnsmasq.d
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pihole.rule=Host(`pihole.${HOST}`)"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"
      - "traefik.docker.network=applications"
    cap_add:
      - NET_ADMIN 
      - CHOWN
      - NET_BIND_SERVICE
      - NET_RAW
      - CAP_NET_ADMIN
      - CAP_SYS_TIME 
      - CAP_SYS_NICE 
    logging:
      driver: fluentd
      options:
          fluentd-address: fluent-bit:24224
          tag: pihole
          fluentd-async: "true"

networks:
  applications:
    external: true

volumes:
  pihole_etc:
    name: pihole_etc
  pihole_dnsmasq:
    name: pihole_dnsmasq
