services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PGID=${PGID}
      - PUID=${PUID}
      - TZ=Europe/Warsaw
    volumes:
      - ./config:/config
      - ${DOWNLOAD_PATH}:/downloads
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.qbittorrent.rule=Host(`qb.${HOST}`)"
      - "traefik.http.services.qbittorrent.loadbalancer.server.port=8080"
      - "traefik.docker.network=applications"
    restart: unless-stopped
    networks:
      - applications
networks:
  applications:
    external: true
