<source>
  @type tail
  path /var/lib/docker/containers/*/*.log
  pos_file /fluentd/log/docker.pos
  tag docker.*
  <parse>
    @type json
    time_key time
    time_format %Y-%m-%dT%H:%M:%S.%N%z
  </parse>
</source>

<filter docker.**>
  @type docker_metadata
</filter>

<filter docker.**>
  @type record_transformer
  enable_ruby true
  <record>
    message ${record["log"]}
  </record>
</filter>

<match docker.**>
  @type elasticsearch
  host elasticsearch
  user elastic
  password ${ES_PASSWORD}
  api_version 8
  port 9200
  scheme http
  logstash_format true
  include_tag_key true
  type_name fluentd
  logstash_prefix fluentd
  reconnect_on_error true
  reload_connections false
  reload_on_failure true
  request_timeout 15s
</match>