services:
  cloudflared-tunnel:
    image: cloudflare/cloudflared
    container_name: cloudflared-tunnel
    restart: unless-stopped
    command: tunnel run
    labels:
      - "logaggregation=yes"
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
      - TUNNEL_LOGLEVEL=info
      - TUNNEL_METRICS=0.0.0.0:60123
    healthcheck:
      test: ["CMD", "cloudflared", "tunnel", "--metrics", "localhost:60123", "ready"]
      interval: 30s
      timeout: 30s
      retries: 3
    networks:
      - management
      - monitoring

  traefik:
    image: traefik:v3.6
    container_name: traefik
    command:
      - "--api=true"
      - "--log.level=debug"
      - "--providers.docker.exposedByDefault=false"
      - "--accesslog=true"
      - "--providers.file.filename=/etc/traefik/definition.yml"
      - "--providers.file.watch=true"
      - "--providers.docker=true"           
      - "--entrypoints.web.address=:80"
      - "--metrics.prometheus=true"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - ./usersfile:/usersfile
    labels:
      - "logaggregation=yes"
      - "traefik.enable=true" 
      - "traefik.http.routers.dashboard.rule=Host(`traefik.${HOST}`)"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.middlewares.simpleauth.basicauth.usersfile=./usersfile"
      - "traefik.http.routers.dashboard.middlewares=simpleauth"
      - "traefik.http.middlewares.simpleauth.basicauth.removeheader=false"
    restart: unless-stopped
    networks:
      - management
      - monitoring
      - applications

  portainer:
    image: portainer/portainer-${PORTAINER_EDITION:-ce}:latest
    container_name: portainer
    command: 
      - --host=unix:///var/run/docker.sock 
      - --license-key=${PORTAINER_LICENCE_KEY}  
    environment:
      - TRUSTED_ORIGINS=portainer.${HOST}
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock" 
      - "portainer_data:/data"
    labels:
      - "logaggregation=yes"
      - "traefik.enable=true" 
      - "traefik.http.routers.portainer.rule=Host(`portainer.${HOST}`)"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"   
      - "traefik.docker.network=management"
    restart: unless-stopped
    networks:
      - management

networks:
  management:
    external: true
  monitoring:
    external: true
  applications:
    external: true

volumes:
   portainer_data:
    name: portainer_data
