services:
  guacd:
    image: guacamole/guacd:${GUACAMOLE_VERSION:-latest}
    container_name: guacd
    environment:
      - LOG_LEVEL=info
      - RECORDING_SEARCH_PATH=/recordings
    restart: on-failure:5
    networks:
      - guacd
    volumes:
    -  ${GUACAMOLE_RECORDING_PATH}:/recordings:rw
    labels:
      - "logaggregation=yes"

  guacamole:
    image: guacamole/guacamole:${GUACAMOLE_VERSION:-latest}
    container_name: guacamole
    labels:
      - "logaggregation=yes"
      - "traefik.enable=true"
      - "traefik.http.routers.guacamole.rule=Host(`guacamole.${HOST}`)"
      - "traefik.http.services.guacamole.loadbalancer.server.port=8080"
      - "traefik.docker.network=management"
    environment:
      - LOG_LEVEL=info
      - GUACD_HOSTNAME=${GUACD_HOSTNAME:-guacd}
      - MYSQL_HOSTNAME=mysql
      - GUACD_PORT=${GUACD_PORT:-4822}
      - MYSQL_PORT=${MYSQL_PORT:-3306}
      - MYSQL_DATABASE=guacamole_db
      - MYSQL_USER=guacamole
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_AUTO_CREATE_ACCOUNTS=true
      - RECORDING_ENABLED=true
      - RECORDING_SEARCH_PATH=/recordings
      - REMOTE_IP_VALVE_ENABLED=true
    restart: on-failure:5
    networks:
      - guacd
      - management
    volumes:
    -  ${GUACAMOLE_RECORDING_PATH}:/recordings:rw

  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=guacamole_db
      - MYSQL_USER=guacamole
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - mysql-data:/var/lib/mysql
      - ${CONFIG_PATH:-.}/mysql/schema:/docker-entrypoint-initdb.d/
    labels:
      - "logaggregation=yes"
    restart: on-failure:5
    networks:
      - guacd

networks:
  management:
    external: true
  guacd:
    external: true

volumes:
  mysql-data: 
    name: mysql-data
