version: "3.8"

services:
  guacd:
    image: guacamole/guacd:latest
    container_name: guacd
    environment:
      - LOG_LEVEL=trace
      - RECORDING_SEARCH_PATH=/recordings
    restart: on-failure:5
    networks:
      - guacd
    volumes:
    - ./logs/recordings:/recordings:rw
    - ./logs/typescript:/typescript:rw
    
  guacamole:
    image: guacamole/guacamole:latest
    container_name: guacamole
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.guacamole.rule=Host(`guacamole.${HOST}`)"
      - "traefik.http.services.guacamole.loadbalancer.server.port=8080"
      - "traefik.docker.network=management"
    environment:
      - LOG_LEVEL=trace
      - GUACD_HOSTNAME=${GUACD_HOSTNAME:-guacd}
      - MYSQL_HOSTNAME=mysql
      - GUACD_PORT=${GUACD_PORT:-4822}
      - MYSQL_PORT=${MYSQL_PORT:-3306}
      - MYSQL_DATABASE=guacamole_db
      - MYSQL_USER=guacamole
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_AUTO_CREATE_ACCOUNTS=true
      - RECORDING_ENABLED=true
      - RECORDING_SEARCH_PATH=/recordings
    restart: on-failure:5
    networks:
      - guacd
      - management
    volumes:
    - ./logs/recordings:/recordings:rw
    - ./logs/typescript:/typescript:rw

  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=guacamole_db
      - MYSQL_USER=guacamole
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - mysql-data:/var/lib/mysql
      - ./mysql/schema:/docker-entrypoint-initdb.d/
    restart: on-failure:5
    networks:
      - guacd

networks:
  management:
    external: true
  guacd:
    external: true

  

volumes:
  mysql-data: 
    name: mysql-data
