services:
  filebrowser:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser
    restart: unless-stopped
    user: "${PUID:-1000}:${GUID:-1000}"
    volumes:
      - ${BROWSING_PATH}:/srv
      - filebrowser-data:/database
      - ./config/config.json:/config.json
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.filebrowser.rule=Host(`fb.${HOST}`)"
      - "traefik.http.services.filebrowser.loadbalancer.server.port=80"
      - "traefik.docker.network=applications"
    environment:
      - PUID=${PUID:-1000}
      - PGID=${GUID:-1000}
    networks:
      - applications
    logging:
      driver: fluentd
      options:
          fluentd-address: fluent-bit:24224
          tag: fliebrowser
          fluentd-async: "true"


networks:
  applications:
    external: true 

volumes:
   filebrowser-data:
    name: filebrowser-data