version: '3.8'

services:
  filebrowser:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser
    restart: unless-stopped
    user: "${PUID:-1000}:${GUID:-1000}"
    volumes:
      - ${BROWSING_PATH}:/srv
      - ${CONFIG_PATH}/database.db:/database.db
      - ${CONFIG_PATH}/config.json:/config.json
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.filebrowser.rule=Host(`fb.${HOST}`)"
      - "traefik.http.services.filebrowser.loadbalancer.server.port=80"
      - "traefik.docker.network=management"
    environment:
      - PUID=${PUID:-1000}
      - PGID=${GUID:-1000}
    networks:
      - management
networks:
  management:
    external: true 
