services:
  filebrowser:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser
    restart: unless-stopped
    user: "${PUID:-1000}:${GUID:-1000}"
    volumes:
      - ${BROWSING_PATH}:/srv
      - filebrowser-data:/database
      - ${CONFIG_PATH:-.}/config/config.json:/config.json
    labels:
      - "logaggregation=yes"
      - "traefik.enable=true"
      - "traefik.http.routers.filebrowser.rule=Host(`fb.${HOST}`)"
      - "traefik.http.services.filebrowser.loadbalancer.server.port=80"
      - "traefik.docker.network=applications"
    environment:
      - PUID=${PUID:-1000}
      - PGID=${GUID:-1000}
    healthcheck:
      test: ["CMD", "/filebrowser", "healthcheck"]
      interval: 10s
      timeout: 15s
      retries: 30
      start_period: 40s
    restart: unless-stopped
    networks:
      - applications

networks:
  applications:
    external: true 

volumes:
   filebrowser-data:
    name: filebrowser-data